# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
.DS_Store
.ninja_log
*.zip
*.pyc
*_sysbuild_cache.txt*
*/_sysbuild/sysbuild/images
/build_bl54l15_dvk/BT-Channel-Sounding-AT-Command
/build_bl54l15u_dvk/BT-Channel-Sounding-AT-Command
/build_bl54l15u_dvk_dual-antenna/BT-Channel-Sounding-AT-Command
